<!-- <div>
        <h1 mat-dialog-title> Hello teacher </h1>
        <div mat-dialog-content class=" custom-dialog-container ">
            <form>


                <mat-form-field appearance="outline ">
                    <mat-label>class-name</mat-label>
                    <input formControlName="class-name " matInput placeholder="class-name ">
                </mat-form-field>


                <mat-form-field appearance="outline ">
                    <mat-label>Password</mat-label>
                    <input formControlName="Password " matInput placeholder="Password ">

                </mat-form-field>

            </form>
            <div>
                <button style="color:rgb(222, 209, 209); background-color:rgb(198, 42, 42) ; " mat-dialog-close> Fermer</button>
            </div>
        </div>
    </div> -->







<!-- <div class="container ">
        <div class="signin-signup ">
            <form action=" " class="sign-in-form ">
                <h2 class="title ">Hello teacher!</h2>
                <br> <br>
                <div class="input-field ">
                    <img src="assets/images/user.png " style="height: 2Opx;width: 20px; margin-left: 30px ; ">
                    <i class="fas fa-user "></i>
                    <input type="text " placeholder="class-name " name="Username ">
                </div>

                <div class="input-field ">
                    <img src="assets/images/lock.png " style="height: 2Opx;width: 20px; margin-left: 30px ; ">
                    <i class="fas fa-lock "></i>
                    <input type="password " placeholder="Password " name="Password ">
                </div>
                <br> <br> <br>
                <input type="submit " value="login " class="btn "> </form>
            <form action=" " class="sign-up-form ">
                <h2 class="title ">Sign up</h2>
                <div class="input-field ">
                    <i class="fas fa-user "></i>
                    <input type="text " placeholder="Username ">
                </div>
                <div class="input-field ">
                    <i class="fas fa-envelope "></i>
                    <input type="text " placeholder="Email ">
                </div>
                <div class="input-field ">
                    <i class="fas fa-lock "></i>
                    <input type="password " placeholder="Password ">
                </div>
                <input type="submit " value="Sign up " class="btn ">
                <p class="social-text ">Or Sign in with social platform</p>
                <div class="social-media ">
                    <a href="# " class="social-icon ">
                        <i class="fab fa-facebook "></i>
                    </a>
                    <a href=" " class="social-icon ">
                        <i class="fab fa-twitter "></i>
                    </a>
                    <a href=" " class="social-icon ">
                        <i class="fab fa-google "></i>
                    </a>
                    <a href=" " class="social-icon ">
                        <i class="fab fa-linkedin-in "></i>
                    </a>
                </div>
                <input type="submit " value="se connecter " class="btn ">
                <p class="account-text ">Already have an account?
                    <a href="# " id="sign-in-btn2 "></a>
                </p>
            </form>
        </div>
        <div class="panels-container ">
            <div class="panel left-panel ">
                <div class="content ">
                    <h3>Member of Brand?</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque accusantium dolor, eos incidunt minima iure?</p>
                </div>
                <img src=" " alt=" " class="image ">
            </div>

            <div class="panel right-panel ">


                <img src="assets/images/Authentication-rafiki.png " alt=" " class="image "> </div>
        </div>
    </div>
</div> -->

<div class="centered-container">

    <p>Hello</p>
</div>