<div class="background">
    <div class="cercle">
        <div class="circle-content">
            <div class="content">
                <img src="assets/images/teac.png" style="height: 410px;width: 400px; border-radius: 50%;">
            </div>
            <!-- <div> -->
            <button mat-raised-button color="warn" (click)="onclickad()">Administration</button>
            <!-- </div> -->
        </div>
    </div>
    <div class="cercle">
        <div class="circle-content">
            <div class="content">
                <img src="assets/images/ms.png" style="height: 410px;width: 400px; border-radius: 50%;">
            </div>
            <!-- <div class="button-container"> -->
            <button mat-raised-button (click)="onclick()">Teacher</button>
            <!-- </div> -->
        </div>
    </div>
</div>