table {
    width: 100%;
}

.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
}

td,
th {
    width: 25%;
}

.green-tick:before {
    content: '\2713';
    color: green;
}

.red-cross:before {
    content: '\2717';
    color: red;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
}

.button-container {
    position: absolute;
    top: 20px;
    right: 20px;
}