<mat-nav-list>
    <div class="logo py-4">
        <img src="assets/images/future.png">
    </div>
    <mat-divider></mat-divider>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/classrooms">
        <mat-icon>supervisor_account</mat-icon>Classrooms
    </a>

    <a mat-list-item routerLinkActive="list-item-active " routerLink="/attendance">
        <mat-icon>dashboard</mat-icon> Attendance
    </a>


    <a mat-list-item routerLinkActive="list-item-active " routerLink="/students">
        <mat-icon>dashboard</mat-icon> Students
    </a>

    <a mat-list-item routerLinkActive="list-item-active " routerLink="/teachers">
        <mat-icon>dashboard</mat-icon> Teacher
    </a>
</mat-nav-list>