<mat-nav-list>
    <div class="logo py-4">
        <img src="assets/images/yy.png">
    </div>
    <br>
    <mat-divider></mat-divider>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/classrooms" style="color: #2d265e
    ">
        <mat-icon style="color: #2d265e;">meeting_room</mat-icon>Classrooms
    </a>
    <br>
    <a mat-list-item routerLinkActive="list-item-active " routerLink="/attendance">
        <mat-icon style="color: #2d265e;">event</mat-icon> Attendance
    </a>

    <br>
    <a mat-list-item routerLinkActive="list-item-active " routerLink="/students">
        <mat-icon style="color: #2d265e;">school_outlined</mat-icon> Students
    </a>
    <br>

    <a mat-list-item routerLinkActive="list-item-active " routerLink="/teachers">
        <mat-icon style="color: #2d265e;">people</mat-icon>Professors
    </a>
</mat-nav-list>